<div id="accept-bet-container" class="container content-container">
  <h2>Accept Bet</h2>

 
  
      <div class="row">
        <div class="col s12 m5">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Bet Key</mat-label>
            <input
              type="text"
              id="input-accept-bet-betkey"
              [(ngModel)]="searchKey"
              name="input-accept-bet-betkey"
              matInput
              placeholder="0xa0b03ee9a862def410475bd5c4ec72b579edc6ca0a11c625f7853edcc71988db"
              value=""
              size="50"
              style="height: 16px; margin: 0px; border: none"
            />
          </mat-form-field>
        </div>
        <div class="col s12 m1">
          <div class="center" style="height: 100%;">OR</div>
        </div>
        <div class="col s12 m5">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                placeholder="Start"
                [(ngModel)]="startDate"
                style="height: 16px; margin: 0px; border: none; font-size:15px;"
              />
              <input
                matEndDate
                placeholder="End"
                [(ngModel)]="endDate"
                style="height: 16px; margin: 0px; border: none; font-size:15px;"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="col s12 m1">
          <button mat-fab color="secondary" class="waves-effect waves-light btn-small" 
          aria-label="Example icon button with a delete icon"
          (click)="searchBet()">
            <i class="material-icons">search</i>
          </button>
        </div>
      </div>
  


  <div>
    <table>
      <thead>
        <tr>
          <td>Bet Key</td>
          <td>Event</td>
          <td># of Tokens</td>
          <td></td>
        </tr>
      </thead>
      <tbody id="open-bets-queue">
        <tr *ngFor="let bet of openBets">
          <td class="longIdentifier" id="{{ 'mybetsbetKey' + bet.betKey }}">
            <app-long-identifier-display
              [Value]="bet.betKey"
            ></app-long-identifier-display>
          </td>
          <td>{{ bet.eventText }}<br />{{ bet.eventTime }}</td>
          <td>{{ bet.amount }}</td>
          <td><a routerLink="/acceptbet/{{ bet.betKey }}">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
