<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <div><a id="logo-container" href="#/" class="brand-logo">Crypto Bet</a></div>
    <ul class="right hide-on-med-and-down">
      <li class="gmtWatch"></li>
      <li><a href="#/ibetcoins">IBET Coins</a></li>
      <li><a id="create-bet-container-link" href="#/createbet">Create Bet</a></li>
      <li><a id="accept-bet-container-link" href="#/acceptbet">Accept Bet</a></li>
      <li><a id="arbitrate-bet-container-link" href="#/arbitratebet">Arbitrate Bet</a></li>
      <li><a id="my-bets-container-link" href="#/mybets">My Bets</a></li>
      <li><button id="connect-wallet" class="btn" (click)="connect()">{{isConnected? "Connected": "Connect"}}</button></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#/ibetcoins">IBET Coins</a></li>
      <li><a id="create-bet-container-link-nav" href="#/createbet">Create Bet</a></li>
      <li><a id="accept-bet-container-link-nav" href="#/acceptbet">Accept Bet</a></li>
      <li><a id="arbitrate-bet-container-link-nav" href="#/arbitratebet">Arbitrate Bet</a></li>
      <li><a id="my-bets-container-link-nav" href="#/mybets">My Bets</a></li>
      <li style="padding: 20px;"><button  id="connect-wallet-nav" class="btn"  (click)="connect()">{{isConnected? "Connected": "Connect"}}</button></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<router-outlet></router-outlet>