<div id="main-container">
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text" style="vertical-align: middle; font-weight: bold;"><img src="assets/logo.png" style="width: 100px; margin-right: 20px;" />Crypto Bets</h1>
        <div class="row center">
          <h5 class="header col s12 light">A Decentralized, Worldwide, open Escrowed Bet</h5>
        </div>
        <div class="row center">
          <a class="btn-large waves-effect waves-light orange"  routerLink="/createbet">Get
            Started</a>
        </div>
        <br><br>

      </div>
    </div>


    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Decentralized</h5>

              <p class="light">This platform is hosted on decentralized blockchain avoiding any interference.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center">World Wide</h5>

              <p class="light">Having hosted this app on blockchain, we enable it to operate worldwide without any restrictions.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Escrowed</h5>

              <p class="light">IBET coins are escrowed ahead of time so you never have to worry on any unfortunate unforseeable events.</p>
            </div>
          </div>
        </div>

      </div>
      <br><br>
    </div>

   
   

    <div class="container">
      <h2 class="header center orange-text">Frequently Asked Questions</h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <i class="material-icons">question_answer</i> <span style="margin-right: 20px;"></span>Who created crypto bet?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Anonymous and desperate supporter of open decentralized betting.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="material-icons">question_answer</i> <span style="margin-right: 20px;"></span>Why was crypto bet created?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Leverage blockchain in delivering anyonymous involvement, openness and proliferating trust in world wide bets.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="material-icons">question_answer</i> <span style="margin-right: 20px;"></span>Is it safe?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>It is perfectly safe as long as the platform this app runs on is safe. so far blockchain has proven over a decade of resiliency in keeping decentralized app's data safe.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="material-icons">question_answer</i> <span style="margin-right: 20px;"></span>What is in it for Bettor?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>You can bet on anything with any person in the world in commonly known topics.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="material-icons">question_answer</i> <span style="margin-right: 20px;"></span>What is in it for arbitrator?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>When you help facilitate bets arbitration, you will be rewarded with service IBET tokens. Also, to incentivize arbitrators to make right decisions, there is a stake they will have to incur to earn arbitration reward. if arbitrators make right decision, they will be rewarded with their take and service tokens, if they make wrong decision during arbitration, they will lose their stake.</p>
          </mat-expansion-panel>
      </mat-accordion>
      
    </div>
  </div>
